<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>check42</title>
    <style>
      * {
        font-family: Arial, sans-serif;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 10px;
        margin: 20px 0;
      }

      thead {
        background-color: #333;
        color: #fff;
        padding: 10px;
      }

      th,
      td {
        padding: 10px;
        text-align: left;
      }

      tbody tr:nth-child(odd) {
        background-color: #f2f2f2;
      }

      tbody tr:nth-child(even) {
        background-color: #e6e6e6;
      }

      tbody tr:hover {
        background-color: #bcbcbc;
      }

      .toggled {
        text-decoration-line: line-through;
        font-style: italic;
        color: rgb(61, 61, 61)
      }
    </style>
  </head>
  <body>
    <h2>CHECK42</h2>
    <table>
      <thead>
        <th>Task</th>
        <th>Created</th>
        <th>Due</th>
        <th>Done</th>
        <th>Priority</th>
      </thead>
      <tbody>
        {{ range  . }}
        <tr {{ if .Done }} class="toggled" {{ end }}>
          <th>
            {{ if (eq .Text "") }}
            -
            {{ else }}
            {{.Text}}
            {{ end }}
          </th>
          <th>{{ .Created }}</th>
          <th>{{ .Due }}</th>
          <th>{{ .Done }}</th>
          <th>{{ .Priority }}</th>
        </tr>
        {{
          end
        }}
      </tbody>
    </table>
  </body>
</html>
